* {
    font-family: 'Ubuntu', sans-serif;
}

.title {
    margin: -8px;
    padding: 10px 0px 1px 0px;
    background-color: #5356b7;
}

.title h1 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.tps hr {
    opacity: 30%;
}

.tps h3 a {
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.tps h3 a:hover {
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    background-color: #5356b7;
}